!!!
%html{html_attrs('zh-CN')}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title RailsBlogLK
    = stylesheet_link_tag :all
    -#= javascript_include_tag :defaults
    -#= stylesheet_link_tag "grid.css"
    -#= stylesheet_link_tag "text.css"
    -#= stylesheet_link_tag 'style'
    -#= formtastic_stylesheet_link_tag
    = csrf_meta_tag
  %body
    .container_12
      .grid_8.suffix_4
        %h1.title Leiking's Blog
        -#= render :partial => 'layouts/log'  
      .clear
      = render :partial => 'layouts/menu'
      %p &nbsp;
      = render :partial => 'layouts/tip'
      .grid_9.box_shadow
        = yield
      -#.grid_5
        -#= render :partial => 'layouts/sidebar'
      = render :partial => 'layouts/footer'
